*.o
a.out
mutate
mutate2
clang-mutate
!clang-mutate/
compile_commands.json
*_num.c
*_del.c
*_ins.c
*_swp.c
*-num.c
*-del.c
*-ins.c
*-swp.c
tests.md
tests.html
*~

local.mk

GPATH
GRTAGS
GTAGS

clang-mutate_pkg/
src/clang-mutate_pkg/
